*{
    /*reset*/
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
  }
/*selectores de etiqueta 
  selectores de id
  selectores de clases */


body{
  background-color: whitesmoke;
}
header{
  background-color: gray;
}

.redesSociales {
  width: 100%;
  padding: 8px 25px;
  border-bottom: 1px solid whitesmoke;
  text-align: left;
}
.redesSociales img {
  width: 27px;
  margin: 4px;
}

.collapse {
  flex-flow: column !important; 
}
.menu a {
  padding: 20px !important; 
  text-decoration: none !important; 
  color: white !important; 
  text-align: center !important; 
  font-weight: bold !important; 
  text-transform: uppercase !important; 
  font-size: 1.5rem;
}